<form action="" method="get" accept-charset="utf-8">
    <div class="row">
        <fieldset>
            <legend>company</legend>
            {% for company in company_list %}
            <div class="checkbox checkbox-inline">
                <input type="checkbox" id="company-{{ company.companyId}}" value="{{ company.companyId}}"
                       name="cbx-company"/>
                <label for="company-{{ company.companyId}}">{{ company.companyDescr }}</label>
            </div>
            {% endfor %}
        </fieldset>
    </div>
    <div class="row">
        <fieldset>
            <legend>Site</legend>
            <div id="site">
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset>
            <legend>Plant</legend>
            <div id="plant">
            </div>
    </div>
    <div class="row">
        <fieldset>
            <legend>Machine group</legend>
            <div id="machine-group">
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset>
            <legend>Machines</legend>
            <div id="machine" name = "machine">
            </div>
        </fieldset>
    </div>
	<div class="row">
	<div class="form-group">
		<label for="startDttm">Start date:</label>
		<input type="date" class="form-control" id="startDttm" name = "startDttm">
	</div>
	<div class="form-group">
		<label for="endDttm">End date</label>
		<input type="date" class="form-control" id="endDttm" name = "endDttm">
	</div>
	</div>
</form>
<script>
var classAttribute;
  $(document).ready(
    function() {
      /* Company is selected */
      $("input[name='cbx-company']").change(function() {
        //console.log($(this).val() + " › " + $(this).is(':checked'));
        if ($(this).is(':checked')) {
          var company_id = $(this).val();
          var url = "/webmonitor/filters/company/" + company_id + "/sites/";

          $.getJSON(url, function(sites) {
            var options = '';
            for (var i = 0; i < sites.length; i++) {
              options += '<div class="checkbox checkbox-inline">';
              options += '<input type="checkbox" id="site-' + sites[i].fields['siteId'] + '" value="' + sites[i].fields['siteId'] + '" name="cbx-site" class="' + company_id + '.' + sites[i].fields['siteId'] + '"/>';
              options += '<label for="site-' + sites[i].fields['siteId'] + '" class = "' + company_id + '.' + sites[i].fields['siteId'] + '">' + sites[i].fields['siteDescr'] + '</label>';
              options += '</div>';
              classAttribute = company_id + '.' + sites[i].fields['siteId'];
            }
            $("#site").append(options);
            //$("select#site option:first").attr('selected', 'selected');
            //$("select#site").attr('disabled', false);
          });
        } else {
          console.log("remove company");
          $('input[class="' + $(this).val() + '"]').remove();
          $('label[class="' + $(this).val() + '"]').remove();
        }
      });

      /* Site is selected */
      $("#site").on("change", "input[type=checkbox]", function() {
        //console.log($(this).val() + " › " + $(this).is(':checked'));
        if ($(this).is(':checked')) {
          var site_id = $(this).val();
          var url = "/webmonitor/filters/site/" + site_id + "/plants/";

          $.getJSON(url, function(plants) {
            var options = '';
            for (var i = 0; i < plants.length; i++) {
              options += '<div class="checkbox checkbox-inline">';
              options += '<input type="checkbox" id="plant-' + plants[i].fields['plantId'] + '" value="' + plants[i].fields['plantId'] + '" name="cbx-plant" class="' + classAttribute + '.' + plants[i].fields['plantId'] + '">';
              options += '<label for="plant-' + plants[i].fields['plantId'] + '" class = "' + classAttribute + '.' + plants[i].fields['plantId'] + '">' + plants[i].fields['plantDescr'] + '</label>';
              classAttribute = classAttribute + '.' + plants[i].fields['plantId'];
              options += '</div>';
            }
            $("#plant").append(options);
            //$("select#site option:first").attr('selected', 'selected');
            //$("select#site").attr('disabled', false);
          });
        } else {
          console.log("remove sites");
          $('input[class="' + $(this).val() + '"]').remove();
          $('label[class="' + $(this).val() + '"]').remove();
        }
      });

      /* Plant is selected */
      $("#plant").on("change", "input[type=checkbox]", function() {
        //console.log($(this).val() + " › " + $(this).is(':checked'));
        if ($(this).is(':checked')) {
          var plant_id = $(this).val();
          var url = "/webmonitor/filters/plant/" + plant_id + "/machine_groups/";

          $.getJSON(url, function(machine_groups) {
            var options = '';
            for (var i = 0; i < machine_groups.length; i++) {
              options += '<div class="checkbox checkbox-inline">';
              options += '<input type="checkbox" id="machine-group-' + machine_groups[i].fields['machineGroupId'] + '" value="' + machine_groups[i].fields['machineGroupId'] + '" name="cbx-machine-group" class="' + classAttribute + '.' + machine_groups[i].fields['machineGroupId'] + '">';
              options += '<label for="machine-group-' + machine_groups[i].fields['machineGroupId'] + '" class = "' + classAttribute + '.' + machine_groups[i].fields['machineGroupId'] + '">' + machine_groups[i].fields['machineGroupDescr'] + '</label>';
              classAttribute = classAttribute + '.' + machine_groups[i].fields['machineGroupId'];
              options += '</div>';
            }
            $("#machine-group").append(options);
            //$("select#plant option:first").attr('selected', 'selected');
            //$("select#plant").attr('disabled', false);
          });
        } else {
          console.log("remove machine groups");
          $('input[class="' + $(this).val() + '"]').remove();
          $('label[class="' + $(this).val() + '"]').remove();
        }
      });

      /* machine group is selected */
      $("#machine-group").on("change", "input[type=checkbox]", function() {
        //console.log($(this).val() + " › " + $(this).is(':checked'));
        if ($(this).is(':checked')) {
          var machine_group_id = $(this).val();
          var url = "/webmonitor/filters/machine-group/" + machine_group_id + "/machines/";

          $.getJSON(url, function(machines) {
            var options = '';
            for (var i = 0; i < machines.length; i++) {
              options += '<div class="checkbox checkbox-inline ' + machine_group_id + '">';
              options += '<input type="checkbox" name = "machine" id="machine-' + machines[i]['machineId'] + '" value="' + machines[i]['machineId'] + '" name="cbx-machine" class="' +machines[i]['class'] + '">';
              options += '<label for="machine-' + machines[i]['machineId'] + '" class = "' + classAttribute + '.' + machines[i]['machineId'] + '">' + machines[i]['machineDescr'] + '</label>';

              options += '</div>';
            }
            $("#machine").append(options);
            //$("select#machine option:first").attr('selected', 'selected');
            //$("select#machine").attr('disabled', false);
          });
        } else {
          console.log("remove machine groups");
          $('input[class="' + $(this).val() + '"]').remove();
          $('label[class="' + $(this).val() + '"]').remove();
        }
      });

      /* machine selected */
      $("#machine").on("change", "input[type=checkbox]", function() {
        console.log($(this).val() + " › " + $(this).is(':checked'));
        if ($(this).is(':checked')) {
          console.log("Get report for: " + $(this).val());
        } else {

        }
      });
    });

</script>
