<div class="template">
<div class="row">
            <h3>Area Production Rollup</h3>
            <div class="table-responsive">
                <table id="area-table" class="display nowrap" cellspacing="0" width="100%">
                    <thead>

                    <tr>
                        <th>Name</th>
                        <th>Machines</th>
                        <th>Availability</th>
                        <th>Performance</th>
                        <th>OEE</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Machines</th>
                        <th>Availability</th>
                        <th>Performance</th>
                        <th>OEE</th>
                    </tr>
                    </tfoot>
                    <tbody id = "tbl-prdn-area">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h3>Machine Production Rollup</h3>
            <div class="table-responsive">
                <table id="machine-table" class="display nowrap" cellspacing="0" width="100%">
                    <thead>

                    <tr>
                        <th>Plant</th>
                        <th>Name</th>
                        <th>Availability</th>
                        <th>Performance</th>
                        <th>OEE</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Plant</th>
                        <th>Name</th>
                        <th>Availability</th>
                        <th>Performance</th>
                        <th>OEE</th>
                    </tr>
                    </tfoot>
                    <tbody id = "tbl-prdn-machine">
                    </tbody>
                </table>
            </div>
        </div>
</div>