<div class="template">
<h3>Grafica</h3>
        <canvas id="myChart6" class='img-responsive' width="700" height="400"></canvas>

        <h3>Tabla</h3>
        <div class="table-responsive">
            <table id="tbl-machineStatus" class="display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Duration</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Status</th>
                        <th>Duration</th>
                        <th>Percentage</th>
                    </tr>
                </tfoot>
                <tbody id="tbl-body-machineStatus">
                </tbody>
            </table>
        </div>
</div>